.navbar{
    background: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);;
    width: 700px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-bottom: 25px;
}

.navbar{
    font-size: 10px;
}